[Interface]
Address = {{ wireguard_address }}/{{ wireguard_netmask }}
ListenPort = {{ wireguard_listen_port }}
PrivateKey = {{ wireguard_private_key }}
SaveConfig = false
{% for peer in (groups[wireguard_group] | difference([inventory_hostname]) | sort) %}

[Peer]
PublicKey = {{ hostvars[peer].wireguard_public_key }}
AllowedIPs = {{ hostvars[peer].wireguard_address }}/32
Endpoint = {{ hostvars[peer].ansible_host }}:{{ hostvars[peer].wireguard_listen_port | default(wireguard_listen_port) }}
PersistentKeepalive = {{ wireguard_persistent_keepalive }}
{% endfor %}
