version: "3.9"
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.13.4
    container_name: crypto-knight-infra-observability-elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - bootstrap.memory_lock=true
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ulimits:
      memlock:
        soft: -1
        hard: -1
    cap_add:
      - IPC_LOCK
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    restart: always
  logstash:
    image: docker.elastic.co/logstash/logstash:8.13.4
    container_name: crypto-knight-infra-observability-logstash
    depends_on:
      - elasticsearch
    volumes:
      - ./logstash.conf:/usr/share/logstash/pipeline/logstash.conf
    restart: always
  kibana:
    image: docker.elastic.co/kibana/kibana:8.13.4
    container_name: crypto-knight-infra-observability-kibana
    depends_on:
      - elasticsearch
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    restart: always
  prometheus:
    image: prom/prometheus
    container_name: crypto-knight-infra-observability-prometheus
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    restart: always
  grafana:
    image: grafana/grafana
    container_name: crypto-knight-infra-observability-grafana
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    restart: always
volumes:
  prometheus_data:
  grafana_data:
  elasticsearch_data:
