name: Manual Deploy Infra Service

env:
  INFRA: crypto-knight-infra

on:
  workflow_dispatch:
    inputs:
      service:
        description: "Service"
        type: choice
        options:
          - rabbitmq
          - observability
          - filebeat
      role:
        description: "Role"
        type: choice
        options:
          - prod1
          - prod2
          - infra

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Select servers
        id: select
        run: |
          if [ "${{ github.event.inputs.role }}" == "prod1" ]; then
            echo "HOST=194.146.38.167" >> $GITHUB_ENV
          elif [ "${{ github.event.inputs.role }}" == "prod2" ]; then
            echo "HOST=113.30.189.245" >> $GITHUB_ENV  
          elif [ "${{ github.event.inputs.role }}" == "infra" ]; then
            echo "HOST=5.180.182.201" >> $GITHUB_ENV  
          elif [ "${{ github.event.inputs.role }}" == "infra" ]; then
            echo "HOST=5.180.182.201" >> $GITHUB_ENV  
          fi

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Copy artefacts
        uses: appleboy/scp-action@master
        with:
          host: ${{ env.HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "./${{ github.event.inputs.service }}"
          target: ./${{ env.INFRA }}

      - name: Fix filebeat config permissions
        if: ${{ github.event.inputs.service == 'filebeat' }}
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ env.HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ./${{ env.INFRA }}/${{ github.event.inputs.service }}
            sudo chown root:root ./filebeat.yml
            sudo chmod 644 ./filebeat.yml

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ env.HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ./${{ env.INFRA }}/${{ github.event.inputs.service }}
            git pull
            docker compose up -d
