name: Manual Deploy Infra Service

env:
  INFRA: crypto-knight-infra

on:
  workflow_dispatch:
    inputs:
      service:
        description: "Service"
        type: choice
        options:
          - rabbitmq
          - observability
          - filebeat
          - wireguard
      role:
        description: "Role"
        type: choice
        options:
          - prod1
          - prod2
          - infra
          - front

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Select server
        id: select
        run: |
          case "${{ github.event.inputs.role }}" in
            prod1)
              echo "HOST=194.146.38.167" >> $GITHUB_ENV
              ;;
            prod2)
              echo "HOST=113.30.189.245" >> $GITHUB_ENV
              ;;
            front)
              echo "HOST=103.45.247.73" >> $GITHUB_ENV
              ;;
            infra)
              echo "HOST=5.180.182.201" >> $GITHUB_ENV
              ;;
            *)
              echo "Unknown role"
              exit 1
              ;;
          esac

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Copy artefacts
        uses: appleboy/scp-action@master
        with:
          host: ${{ env.HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "./${{ github.event.inputs.service }}"
          target: ./${{ env.INFRA }}

      - name: Fix filebeat config permissions
        if: ${{ github.event.inputs.service == 'filebeat' }}
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ env.HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ./${{ env.INFRA }}/${{ github.event.inputs.service }}
            sudo chown root:root ./filebeat.yml
            sudo chmod 644 ./filebeat.yml

      - name: Generate WireGuard config
        if: ${{ github.event.inputs.service == 'wireguard' }}
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ env.HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ./${{ env.INFRA }}/wireguard
            mkdir -p config

            case "${{ github.event.inputs.role }}" in
              infra)
                ADDRESS="10.10.0.1/24"
                PRIVATE_KEY="${{ secrets.WG_PRIVKEY_PROD1 }}"
                export WG_PUBKEY_PROD2="${{ secrets.WG_PUBKEY_PROD2 }}"
                PEERS=$(cat prod1.peers | sed "s|{{WG_PUBKEY_PROD2}}|$WG_PUBKEY_PROD2|g")
                ;;
              front)
                ADDRESS="10.10.0.2/24"
                PRIVATE_KEY="${{ secrets.WG_PRIVKEY_PROD2 }}"
                export WG_PUBKEY_PROD1="${{ secrets.WG_PUBKEY_PROD1 }}"
                PEERS=$(cat prod2.peers | sed "s|{{WG_PUBKEY_PROD1}}|$WG_PUBKEY_PROD1|g")
                ;;
            esac

            cat wg0.conf \
              | sed "s|{{ADDRESS}}|$ADDRESS|g" \
              | sed "s|{{PRIVATE_KEY}}|$PRIVATE_KEY|g" \
              | sed "s|{{PEERS}}|$PEERS|g" \
              > config/wg0.conf

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ env.HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ./${{ env.INFRA }}/${{ github.event.inputs.service }}
            docker compose pull
            docker compose down --remove-orphans
            docker compose up -d
